body {
    font-family: 'Poppins', sans-serif;
    background-color: #111827; 
    background-image: url('https://www.transparenttextures.com/patterns/dark-matter.png');
    color: #d1d5db; 
}

.hero-section {
    background: linear-gradient(rgba(17, 24, 39, 0.8), rgba(17, 24, 39, 0.8)), url('https://images.pexels.com/photos/347141/pexels-photo-347141.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2') no-repeat center center/cover;
}

#quiz-modal-content {
    max-height: 90vh; 

}
.quiz-option {
    display: block;
    padding: 1rem;
    border: 2px solid #4b5563; 
    border-radius: 0.5rem;
    margin-bottom: 0.75rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    background-color: #374151; 
}

.quiz-option:hover {
    background-color: #4b5563; 
    border-color: #60a5fa; 
}

.quiz-option.selected {
    background-color: #1e40af; 
    border-color: #3b82f6;
    color: white;
}